<a href="https://colab.research.google.com/github/BlackCurrantDS/ATiML-Project/blob/master/Train_Test_Split.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
import pandas as pd
books = pd.read_csv("balanced_books.csv",index_col=0)
books.head(5)

                                                data                  genre
0  "As a recounter of stories of mingled mystery ...  Detective and Mystery
1  The dull October afternoon was rapidly drawing...  Detective and Mystery
2  It was Carnival time in the ancient and once i...  Detective and Mystery
3  Certain portions of England yet remain undisco...  Detective and Mystery
4  Hearing the sound of lightly-falling footsteps...  Detective and Mystery

**Assign a new ID column **

In [0]:
books.insert(0, 'ID', range(100, 100 + len(books)))

In [0]:
books.shape

(314, 3)

In [0]:
books.head(5)

    ID  ...                  genre
0  100  ...  Detective and Mystery
1  101  ...  Detective and Mystery
2  102  ...  Detective and Mystery
3  103  ...  Detective and Mystery
4  104  ...  Detective and Mystery

[5 rows x 3 columns]

# 25% test data

In [0]:
books_tr, books_test = train_test_split(books, test_size=.25, shuffle=True, stratify = books['genre'])

In [0]:
print("Lenght of the training is", len(books_tr), books_tr.shape)
print("Lenght of the test is", len(books_test), books_test.shape)

Lenght of the training is 235 (235, 3)
Lenght of the test is 79 (79, 3)

# 25% Validation set

In [0]:
books_train, books_validation = train_test_split(books_tr, test_size=.34, shuffle=True, stratify = books_tr['genre'])

In [0]:
print("Lenght of the training is", len(books_train), books_train.shape)
print("Lenght of the validation is", len(books_validation), books_validation.shape)

Lenght of the training is 155 (155, 3)
Lenght of the validation is 80 (80, 3)

**Export train/test/validation set as dataframe**

In [0]:
books_train.head(5)

      ID                                               data              genre
114  214  A solitary fisher ploughed the lively blue of ...         Allegories
315  387  Shortly.\n... The first shot was just a rib to...  Sea and Adventure
100  200  In the steeple of an old church was a beautifu...         Allegories
211  311  The Works of E. P. Roe\n"Some shallow story of...   Love and Romance
151  251  IT will surprise and at the same time possibly...   Ghost and Horror

In [0]:
books_train.to_csv("books_train.csv")
books_test.to_csv("books_test.csv")
books_validation.to_csv("books_validation.csv")