<a href="https://colab.research.google.com/github/BlackCurrantDS/ATiML-Project/blob/master/Scaling_Min_Max.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
features_train = pd.read_csv("features_validation.csv", index_col=0)

In [38]:
features_train.head(1)

   index   ID     genre_x  ...       joy  surprise     trust
0     99  199  Allegories  ...  0.051125  0.038405  0.066292

[1 rows x 43 columns]

In [0]:
del features_train['index']

In [0]:
#features_validation = pd.read_csv("features_validation.csv", index_col=0)

In [0]:
#features_test = pd.read_csv("features_test.csv", index_col=0)

In [42]:
import numpy as np
print ('Shape of features_train Matrix: ', features_train.shape)
print ('Amount of Non-Zero occurences: ', np.count_nonzero(features_train.values))
print ('sparsity: %.2f%%' % (100.0 * np.count_nonzero(features_train.values) /
                                 (features_train.shape[0] * features_train.shape[1])))

Shape of features_train Matrix:  (80, 42)
Amount of Non-Zero occurences:  3155
sparsity: 93.90%

In [43]:
"""print ('Shape of features_validation Matrix: ', features_validation.shape)
print ('Amount of Non-Zero occurences: ', np.count_nonzero(features_validation.values))
print ('sparsity: %.2f%%' % (100.0 * np.count_nonzero(features_validation.values) /
                                 (features_validation.shape[0] * features_validation.shape[1])))"""

"print ('Shape of features_validation Matrix: ', features_validation.shape)\nprint ('Amount of Non-Zero occurences: ', np.count_nonzero(features_validation.values))\nprint ('sparsity: %.2f%%' % (100.0 * np.count_nonzero(features_validation.values) /\n                                 (features_validation.shape[0] * features_validation.shape[1])))"

In [44]:
"""print ('Shape of features_test Matrix: ', features_test.shape)
print ('Amount of Non-Zero occurences: ', np.count_nonzero(features_test.values))
print ('sparsity: %.2f%%' % (100.0 * np.count_nonzero(features_test.values) /
                                 (features_test.shape[0] * features_test.shape[1])))"""

"print ('Shape of features_test Matrix: ', features_test.shape)\nprint ('Amount of Non-Zero occurences: ', np.count_nonzero(features_test.values))\nprint ('sparsity: %.2f%%' % (100.0 * np.count_nonzero(features_test.values) /\n                                 (features_test.shape[0] * features_test.shape[1])))"

In [0]:
from sklearn.preprocessing import MinMaxScaler

data = features_train.copy() #copying data frame

In [0]:
del data['genre_x']
del data['genre_y']
"""del data['Author_Name']
del data['Book_Name']"""
del data['genre']

In [47]:
data.head()

    ID  book_lenght  book_sen  ...       joy  surprise     trust
0  199       140074      1359  ...  0.051125  0.038405  0.066292
1  213       140074      1359  ...  0.051125  0.038405  0.066292
2  151       483615      5574  ...  0.043039  0.037100  0.062476
3  364       826970     10857  ...  0.039505  0.042524  0.049583
4  360       729190      4465  ...  0.044466  0.040502  0.078427

[5 rows x 39 columns]

In [0]:
normalizer = MinMaxScaler()
data_scaled = normalizer.fit_transform(data.iloc[:,data.columns!='ID'])
data_norm = pd.DataFrame(np.column_stack((data['ID'].values,data_scaled)),columns = data.columns).set_index(data.index)

In [49]:
data_norm.head()

      ID  book_lenght  book_sen  ...       joy  surprise     trust
0  199.0     0.089663  0.101551  ...  0.678935  0.134974  0.725664
1  213.0     0.089663  0.101551  ...  0.678935  0.134974  0.725664
2  151.0     0.384732  0.473114  ...  0.490426  0.078346  0.639409
3  364.0     0.679640  0.938822  ...  0.408042  0.313688  0.347967
4  360.0     0.595657  0.375353  ...  0.523704  0.225957  1.000000

[5 rows x 39 columns]

In [50]:
data_norm.ID.astype(int) #changed data type of column

0     199
1     213
2     151
3     364
4     360
     ...
75    250
76    118
77    210
78    193
79    198
Name: ID, Length: 80, dtype: int64

In [51]:
data_norm.head(1)

      ID  book_lenght  book_sen  ...       joy  surprise     trust
0  199.0     0.089663  0.101551  ...  0.678935  0.134974  0.725664

[1 rows x 39 columns]

In [0]:
#merging data frame
features_train_subset = features_train[['ID', 'genre']] #'Author_Name', 'Book_Name'
features_scaled_train = pd.merge(data_norm, features_train_subset , on='ID')

In [53]:
features_scaled_train.shape

(80, 40)

In [54]:
features_scaled_train.head(5)

      ID  book_lenght  book_sen  ...  surprise     trust             genre
0  199.0     0.089663  0.101551  ...  0.134974  0.725664        Allegories
1  213.0     0.089663  0.101551  ...  0.134974  0.725664        Allegories
2  151.0     0.384732  0.473114  ...  0.078346  0.639409  Love and Romance
3  364.0     0.679640  0.938822  ...  0.313688  0.347967          Literary
4  360.0     0.595657  0.375353  ...  0.225957  1.000000          Literary

[5 rows x 40 columns]

In [0]:
#features_scaled_train.to_csv("features_scaled_train.csv")
features_scaled_train.to_csv("features_scaled_validation.csv")
#features_scaled_train.to_csv("features_scaled_test.csv")